.swc-calendar-picker-container {
  padding-top: 27px;
}
.swc-calendar-picker-container .ant-calendar-input-wrap {
  display: none !important;
}
.swc-calendar-picker-container .ant-calendar {
  background-color: #193d37;
  border: 1px solid #136c5e;
}
.swc-calendar-picker-container .ant-calendar-range-middle {
  display: none;
}
.swc-calendar-picker-container .ant-calendar-panel,
.swc-calendar-picker-container .ant-calendar-range {
  border: 1px solid #136c5e;
}
.swc-calendar-picker-container .ant-calendar-in-range-cell:before {
  background: #136c5e;
}
.swc-calendar-picker-container .ant-calendar-header {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #136c5e;
}
.swc-calendar-picker-container .ant-calendar-today > .ant-calendar-date {
  color: #0a0f0e;
  background: #ff9300;
  border-color: #ff9300;
}
.swc-calendar-picker-container .ant-calendar-selected-day > .ant-calendar-date {
  color: #ff9300;
  background: transparent;
  border-color: #ff9300;
}
.swc-calendar-picker-container .ant-calendar-year-select,
.swc-calendar-picker-container .ant-calendar-month-select,
.swc-calendar-picker-container .ant-calendar-next-month-btn,
.swc-calendar-picker-container .ant-calendar-next-year-btn,
.swc-calendar-picker-container .ant-calendar-prev-year-btn,
.swc-calendar-picker-container .ant-calendar-prev-month-btn,
.swc-calendar-picker-container .ant-calendar-year-panel-prev-decade-btn,
.swc-calendar-picker-container .ant-calendar-year-panel-decade-select,
.swc-calendar-picker-container .ant-calendar-year-panel-next-decade-btn,
.swc-calendar-picker-container .ant-calendar-month-panel-prev-year-btn,
.swc-calendar-picker-container .ant-calendar-month-panel-year-select,
.swc-calendar-picker-container .ant-calendar-month-panel-next-year-btn {
  line-height: 30px;
}
.swc-calendar-picker-container .ant-calendar-year-panel {
  top: 0;
  background-color: #193d37;
}
.swc-calendar-picker-container .ant-calendar-year-panel-header {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #136c5e;
}
.swc-calendar-picker-container .ant-calendar-year-panel-year:hover {
  background: #136c5e;
}
.swc-calendar-picker-container .ant-calendar-year-panel-selected-cell > .ant-calendar-year-panel-year {
  color: #0a0f0e;
  background: #ff9300;
}
.swc-calendar-picker-container .ant-calendar-month-panel {
  top: 0;
  background-color: #193d37;
}
.swc-calendar-picker-container .ant-calendar-month-panel-header {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #136c5e;
}
.swc-calendar-picker-container .ant-calendar-month-panel-month:hover {
  background: #136c5e;
}
.swc-calendar-picker-container .ant-calendar-month-panel-selected-cell > .ant-calendar-month-panel-month {
  color: #0a0f0e;
  background: #ff9300;
}
.swc-calendar-picker-container .ant-calendar-month-panel-cell-disabled > .ant-calendar-month-panel-month {
  color: #172422;
  background: transparent;
}
.swc-calendar-picker-container .ant-calendar-picker-clear {
  color: #68420f;
}
.swc-calendar-picker-container .ant-calendar-picker-clear:hover {
  color: #a35000;
}
.swc-calendar-picker-container .ant-calendar-time-picker {
  top: 31px !important;
}
.swc-calendar-picker-container .ant-calendar-time-picker-input-wrap {
  display: block;
}
.swc-calendar-picker-container .ant-calendar-time-picker-select-option-selected {
  background: #ff9300;
  color: #0a0f0e;
}
.swc-calendar-picker-container .ant-calendar-time-picker-combobox {
  height: 198px !important;
}
