.swc-modal-wrap .ant-modal-header {
  background: #193d37;
}
.swc-modal-wrap .ant-modal-content {
  background-color: #0a0f0e;
  border: 1px solid #193d37;
}
.swc-modal-wrap .ant-modal-body {
  position: relative;
  padding: 0;
}
.swc-modal-wrap .ant-modal-footer {
  padding: 0 10px 10px;
  border: none;
}
.swc-modal-wrap .ant-modal-footer .swc-modal-cancel {
  color: #ffebc8 !important;
  background: #4a4d4c !important;
  border-color: #4a4d4c !important;
}
.swc-modal-wrap .ant-modal-footer .swc-modal-cancel:hover,
.swc-modal-wrap .ant-modal-footer .swc-modal-cancel:focus {
  background: #8f9598 !important;
  border-color: #8f9598 !important;
}
.swc-modal-wrap .ant-modal-footer .swc-modal-cancel:active {
  background: #303231 !important;
  border-color: #303231 !important;
}
.swc-modal-wrap .ant-modal-close-x {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
