.swc-select:hover .ant-select-selection {
  border-color: #ffb000;
}
.swc-select .ant-select-selection__choice {
  background-color: #193d37 !important;
}
.swc-select.ant-select-focused .ant-select-selection {
  color: #1e1e1e;
  border-color: #ffb000;
  background-color: #ffb000;
}
.swc-select-dropdown .ant-select-dropdown-menu-item {
  padding: 0 10px;
}
.swc-select-dropdown .ant-select-dropdown-menu-item:hover {
  background: #136c5e !important;
}
.swc-select-dropdown .ant-select-dropdown-menu-item-group-title {
  color: #f9c152 !important;
  padding: 0 10px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
}
.swc-select-dropdown .ant-select-dropdown-menu-item-selected {
  color: #f9c152 !important;
  background: #0c4f44 !important;
}
.swc-select-dropdown .ant-select-dropdown-menu-item-selected::after {
  content: '';
  position: absolute;
  right: 6px;
  top: 6px;
  width: 12px;
  height: 6px;
  border-radius: 1px;
  border: 2px solid #f9c152;
  border-top: none;
  border-right: none;
  background: transparent;
  transform: rotate(-45deg);
}
.swc-select-clear {
  font-size: 12px;
  color: #68420f;
}
