.ant-input {
  color: #f9c152;
  background-color: #172422;
}
.ant-input:hover {
  border-color: #ffb000 !important;
}
.ant-input:focus {
  border-color: #ffb000 !important;
  background: #ff9300 !important;
  color: #1e1e1e;
}
.swc-input > .ant-input {
  color: #f9c152;
}
.swc-input > .ant-input:hover {
  border-color: #ffb000 !important;
}
.swc-input > .ant-input:focus {
  border-color: #ffb000 !important;
  background: #ff9300 !important;
  color: #1e1e1e;
}
.swc-input-clear {
  font-size: inherit;
  color: #193d37;
  visibility: hidden;
}
.swc-input-clear:hover {
  color: #136c5e;
}
.swc-input-clear-focus {
  visibility: visible;
  color: #68420f;
}
.swc-input-clear-focus:hover {
  color: #a35000;
}
.swc-input-focus > .ant-input {
  border-color: #ffb000 !important;
  background: #ff9300 !important;
  color: #1e1e1e;
}
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: #ffb000 !important;
}
